<html>
<head>
	<style>
		body
		{
			background-image:url("https://i.pinimg.com/736x/33/d0/a8/33d0a824fa331f551e400368ac57f87e.jpg");
			background-size:1000px 500px;
		}
		h6
		{
			font-size:40px;
			font-color:black;
			font-family:Times New Roman;
		}
		p{
			font-size:20px;
			font-color:black;
			font-family:Times New Roman;
		}
	</style>
</head>
<body>
	<h6>Dear Guest,</h6>
<p>Holiday Tours offer you Indian Travel Package, International holidays, flight tickets,Railway Booking.A team which has the confidence and the expertise to handle the most complex and challenging tasks they are faced with. Our rich experience helps us to understand your needs and give you a product that suits your requirement.
Thank you for your continued support and the confidence that you have placed in us. As we build the foundation of success, we completely recognize the trust you place in us and with your continuous support, we assure to maintain our best-in-class service.</p>
<a href="welcome">Back</a>
</body>
</html>