<html>
<head>
	<style>
		body
		{
			background-image:url("https://somethingoffreedom.com/wp-content/uploads/2017/07/Rio-de-Janeiro-1.jpg");
			background-size:1400px 650px;
			background-repeat:no-repeat;

		}
		h1{
			font-size:70px;
			font-style:bold;
			font-family:Bodoni MT;
			color:red;
			text-align:center;
		}
		a{
			font-size:20px;
			color:red;
			text-align:center;
		}

	</style>
<h1>Glimpse of Rajasthan Tour package</h1>
<p>Glimpse of Rajasthan tour package includes 5 days and 4 nights. The places that have cover in this tour package are Jaipur, Ajmer, Pushkar, Jodhpur, and Jaisalmer. (Night stay in Tent house also).<br>

<h3>1 Day: Starting from Jaipur Sightseeing tour:</h3>
<b>At first we will go to have breakfast, then the places which have been covered:</b><br>

<b>-Amber Fort<br></b>
<b>-Jal Mahal<br></b>
<b>-Kanak Vrindavan Ghati<br></b>
<b>-City Palace<br></b>
<b>-Hawa Mahal<br></b>
<b>-Jantar Mantar<br></b>

<h3>2 Day: Towards Ajmer-Pushkar:</h3>
<b>After breakfast, will travel against Ajmer and Pushkar to seek few tourist places:</b></br>

<b>Ajmer sightseeing tour:</b>
<b>-Salim Chisti Dargah</b>
<b>-Ana-Sagar Lake</b>
<b>-Dhai Din ka Jhopda</b>

</p>
